@font-face {
  font-family: 'active_box_icon';
  src:  url('fonts/icomoon.eot?wf6vvs');
  src:  url('fonts/icomoon.eot?wf6vvs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wf6vvs') format('truetype'),
    url('fonts/icomoon.woff?wf6vvs') format('woff'),
    url('fonts/icomoon.svg?wf6vvs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'active_box_icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bag_pack:before {
  content: "\e900";
}
.icon-cloud:before {
  content: "\e901";
}
.icon-desctop:before {
  content: "\e902";
}
.icon-genious:before {
  content: "\e903";
}
.icon-light_bulb:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e905";
}

