section#main{
	display: block;
	height: 700px;
	background: url(img/background.png) no-repeat center;
	background-size: cover;	
}

.starnight_app_section_text_block{
	text-align: center;
    margin-top: 150px;
    font-family: 'Raleway Regular', arial;
    color: white;
    font-size: 40px;
}
.starnight_app_section_text_block2 {
    text-align: center;
    color: #d0e7e9;
    font-family: 'Raleway Italic', arial;
   	font-size: 12px;
}
.starnight_app_section_start_play{
	width: 80px;
	height: 80px;
	display: block;
  	margin: 0 auto;
  	margin-top: 60px;
}
.starnight_app_section_start_button {
	margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
	text-align: center;
	font-family: 'Raleway Regular', arial; 
}

section#main-form{
	display: block;
	height: 1400px;
	background: url(img/footer1.jpg) no-repeat center;
	background-size: cover;
	
  
}
section#main-form2{
	height: 700px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: white;
    overflow: auto;
}
.content_section_top_block_text_header {
	text-align: left;
    margin-top: 80px;
    font-family: 'Raleway Regular', arial;
    color: white;
    font-size: 40px;
  	
}
.content_section_top_block_text{
	width: 664px;
	position: absolute;
    text-align: left;
    color: #ffffff;
    line-height: 2;
    font-family: 'Raleway Regular', arial;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;    
} 
.content_section_top_block_download_button{
	width: 275px;
    height: 65px;
    margin-top: 280px;
    margin-left: 0px;
    
    background-color: #e8b968;
    color: #ffffff;
    font-family: 'Raleway Regular', arial;
    font-size: 18px;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    text-align: center;
    border-radius: 5px;
    
}
.content_section_footer_block_background_ring_photo{
	display: block;
  	margin: 0 auto;
  	margin-top: 350px;
  	

}
.content_section_footer_block_text{
	
	margin-top: 30px;
    text-align: center;
    color: #ffffff;
    
    font-family: 'Raleway Regular', arial;
    font-size: 36px;
    

}

.demo_section_text_header{
	text-align: left;
    text-decoration: none;
    color: #9197a8;
    line-height: 2;
    font-weight: normal;
    font-family: 'Raleway Regular', arial;
    font-size: 15px;
}
.demo_section_text_block{
	font-weight: normal;
    text-align: left;
    text-decoration: none;
    color: #9197a8;
    line-height: 2;
    font-family: 'Raleway Regular', arial;
    font-size: 16px;
}
.demo_section_try_demo_button {
	width: 150px;
	height: 50px;
    margin-top: 60px;
    margin-left: 500px;
    font-family: 'Raleway Regular', arial;
    font-size: 18px;
    text-align: center;
}
section#squares_section_background {
    height: 750px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #f6f6f4;
    overflow: auto;
}
.squares_section_startup_juice_block {
    top: 130px;
}
.squares_section_startup_juice_block_top {
    width: 338px;
    height: 346px;
    position: relative;
    background-color: #f69679;
}
.squares_section_thirsty_block_top {
	width: 338px;
    height: 346px;
    
    background-color: #e8b968;
}
.squares_section_startup_juice_block_middle {
    width: 338px;
    height: 141px;
    position: relative;
    background-color: #ffffff;
}
.squares_section_startup_juice_block_footer {
    width: 338px;
    height: 5px;
    position: relative;
    background-color: #eaeaea;
}
.squares_section_startup_juice_block_text_header {
    margin-left: 42px;
    margin-top: 32px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    color: #9197a8;
    font-family: 'Raleway Regular', arial;
    font-size: 15px;
    letter-spacing: 3px;
}
.squares_section_startup_juice_block_text {
    margin-left: 42px;
    margin-top: 62px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    color: #9197a8;
    font-family: 'Raleway Regular', arial;
    font-size: 16px;
}
.squares_section_thirsty_block {
    top: 130px;
}
.squares_section_thirsty_block_middle {
    width: 338px;
    height: 141px;
    position: relative;
    background-color: #ffffff;
}
.squares_section_thirsty_block_text_header {
    margin-left: 42px;
    margin-top: 32px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    color: #9197a8;
    font-family: 'Raleway Regular', arial;
    font-size: 15px;
    letter-spacing: 3px;
}
.squares_section_thirsty_block_text {
    margin-left: 42px;
    margin-top: 62px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    color: #9197a8;
    font-family: 'Raleway Regular', arial;
    font-size: 16px;
}
.squares_section_thirsty_block_footer {
    width: 338px;
    height: 5px;
    position: relative;
    background-color: #eaeaea;
}
.squares_section_footer_juice_block{
	top: 130px;
}
.squares_section_text_block_header {
    
    font-family: 'Raleway Regular', arial;
    color: #abbcc3;
    
}
.squares_section_text_block {
    
    color: #abbcc3;
    font-family: 'Raleway Regular', arial;
    font-size: 14px;
}
section#link_section_styles_main_background {
   	height: 750px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #7accc8;
    overflow: auto;
}
.link_section_styles_text_collumn_content {
    margin-top: 100px;
    font-family: 'Raleway Regular', arial;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    line-height: 2;
    color: #ffffff;
}
.link_section_styles_text_collumn2_content{
	margin-top: 100px;
	font-family: 'Raleway Regular', arial;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    line-height: 2;
    color: #ffffff;
}
.link_section_styles_menu {
	margin-left: 200px;
	margin-top: 100px;  
    color: #ffffff;
}
.link_section_styles_menu_case {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    line-height: 2;
    font-family: 'Raleway Regular', arial;
    font-size: 14px;
}
.link_section_author_photo2 {
	
	width: 60px;
	height: 62px;
	display: block;
  	margin: 0 auto;
  	margin-top: 70px;
	background-image: url(img/shape.png);
	transition: all 0.5s;
    cursor: pointer
   
}
.link_section_author_name {
	height: 20px;
    width: 500px;
    display: block;
  	margin: 0 auto;
  	margin-top: 90px;
  	margin-left: 350	px;
    color: #ffffff;
    font-family: 'Raleway Regular', arial;
    font-size: 12px;
    letter-spacing: 8px;
    transition: all 0.5s;
    cursor: pointer;
    
}